@using Convergys.Assist.Repository.Enums
@model Convergys.Assist.WebUI.Models.SetupModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scriptscustom
{
    <script src="~/Scripts/Custom/Shared.js"></script>
    <script src="~/Scripts/Custom/Setup.js"></script>
}
<div class="row">
    <div class="col-lg-7">
        <h1>@Resources.Content.Setup_Index_Header1</h1>
    </div>
    <div class="col-lg-5">
        <div id="errorContainer"></div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="input-group date">
                    @Html.HiddenFor(c => c.SelectedTeamId, new { id = "hdnSelectedTeamId" })
                    @if (Model.LoggedOnEmployee.RoleId.GetValueOrDefault() >= Enum_Roles.TeamManager.GetHashCode())
                    { 
                        @Html.DropDownList("ddTeamList", new SelectList(Model.TeamList, "TeamId", "TeamName", Model.LoggedOnEmployee.TeamId), new { id = "ddTeamList", @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="fa fa-users"></span>
                        </span>
                    }
                    else
                    {
                        <label>Team: @Model.LoggedOnEmployee.Team</label> 
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    @using (Html.BeginForm("SaveEmployeeRole", "Setup", FormMethod.Post))
    {
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Resources.Content.Setup_Index_PanelHChangeRole</h3>
                    @if (Model.RoleChangeOccured)
                    {
                        if (Model.RoleChangeSuccess)
                        {
                        <small class="text-success">@Resources.Content.Setup_Index_RoleSaveSuccess</small>
                        }
                        else
                        {
                        <small class="text-danger">@Resources.Content.Setup_Index_RoleSaveFailed</small>
                        }
                    }
                </div>
                <div class="panel-body">
                    <div class="input-group date">
                        @Html.HiddenFor(g => g.RoleChangeSelectedEmp, new { id = "hdnRoleSelectedId" })
                        <select class="form-control" id="ddRoleChangeEmployee">
                        </select>
                        <span class="input-group-addon">
                            <span class="fa fa-user"></span>
                        </span>
                    </div>
                    <br />
                    <div class="input-group date">
                        @Html.HiddenFor(g => g.RoleChangeSelectedRole, new { id = "hdnRoleSelectedRole" })
                        @Html.DropDownList("ddRoleList", Model.Roles, new { @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="fa fa-user"></span>
                        </span>
                    </div>
                    <br />
                    <a href="#" class="btn btn-primary btn-default btn-xs" onclick="$(this).closest('form').submit(); return false;">Save</a>
                </div>
            </div>
        </div>
    }
</div>

<!-- /.row -->
