@using Convergys.Assist.Logging
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<h1>@Resources.Content.Error_Index_Header1</h1>

<div class="alert alert-danger alert-dismissable">
    <strong>@Resources.Content.Error_Index_Alert_Strong</strong>
    <br />
    @Resources.Content.Error_Index_Message @Html.ActionLink(@Resources.Content.Error_Index_LoginLink, "Index","Home", null, new Dictionary<string, object>{ {"class", "alert-link"} })
    <br />
    <br />
    @{
        Log4NetManager.Instance.Error(this.GetType(), @Model.Exception.Message, @Model.Exception);
     }
    @Model.Exception.Message
</div>