@using Convergys.Assist.Logging

@{
    ViewBag.Title = "AccessInvalid";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<h1>@Resources.Content.AccessInvalid_Header1</h1>

<div class="alert alert-danger alert-dismissable">
    <strong>@Resources.Content.AccessInvalid_Alert_Strong</strong>
    <br />
    @Resources.Content.AccessInvalid_Alert_Message @Html.ActionLink(@Resources.Content.AccessInvalid_Alert_Index_LoginLink, "Index","Home", null, new Dictionary<string, object>{ {"class", "alert-link"} })
    <br />
</div>